
@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

.add-bakery-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
    padding: 2rem;
}

.motto > h1 {
    color: #745537;
    font-family: 'Beth Ellen', 'Tahoma';
    margin-bottom: 2rem;
    font-size: 33px;
    text-align: center;
}

.add-bakery-form {
    background: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 2rem;
    width: 100%;
    max-width: 400px;
}

.add-bakery-form label {
    font-family: 'Libre Baskerville', 'Tahoma';
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

.add-bakery-form input {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid grey;
    border-radius: 5px;
    font-size: 1rem;
    font-family: 'Libre Baskerville', 'Tahoma';
}
.add-bakery-form select {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid grey;
    border-radius: 5px;
    font-size: 1rem;
    font-family: 'Libre Baskerville', 'Tahoma';
}

.add-bakery-form .submit {
    background-color: #745537;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-family: 'Libre Baskerville', 'Tahoma';
    cursor: pointer;
}

.add-bakery-form .submit:hover {
    background-color: #5c432b;
}

.add-bakery-form input[type=radio] {
    width: 100%;
    font-family: 'Libre Baskerville', 'Tahoma';
}